

ion-slides
{
  // background-color: white;
  height: 100%;
  max-width: 800px;
}

ion-slide > h1, h2
{
  margin: 30px 0 0 0;
  // var => el uso de variables, ionic tiene predefinido un formato (está-entre-paréntesis)
  color: var(--ion-color-primary);
}

ion-slide > p
{
  font-style: inherit;
  font-size: 22px;
}

ion-slide > ion-icon
{
  color: #abd16e;
  font-size: 48px;
}

ion-slide > ion-icon[name="close"]
{
  float: right;
  color: var(--ion-color-primary);
  font-size: 30px;
}

ion-slide > img
{
  max-height: 50%;
  max-width: 60%;
  margin: 64px 0;
}

.swiper-slide 
{
  display: block;
  margin-bottom: 64px;
  // background-color: white;
}

