<ion-header>
  <ion-toolbar>
    <ion-title>PlaBeMin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Slides => páginas para cambiar en una sola página en ionic con html -->
  <!-- pager="true" => identificar mediante punto el slide en q se encuentra (ptos. al final) -->
  <!-- [options]="slideOpt" => opciones del slide, agregados en "home.page.ts"    =>   para más opciones ver: www.ionframework.com/docs/api/slides -->
  <ion-slides pager="true" [options]="slideOpt">
    
    <!-- Slide Normal -->
    <!-- <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Imagen 1</h1>
      <h2>Subtítulo</h2> -->
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <!-- <img src="" alt="Imagen No Disponible">
      <p>Párrafo de contenido.</p> -->
      <!-- íconos predefinido por ionic, seleccionar por name de: www.ionicons.com -->
      <!-- <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-slide> -->
    
    <!-- Slide Dinámicos => {{doble llave para las variables}}, contenido en "intro.page.ts" -->
    <!-- *ngFor="let slide of slides"  =>  directiva ngFor, permitir iterar slide sobre un conjunto de slides -->
    <ion-slide *ngFor="let slide of slides">
      <!-- (click)="finish() => función finish para el evento click en el ícono cerrar (X) slide -->
      <!-- la función finish se define en "intro.page.ts" -->
      <ion-icon name="close" (click)="finish()"></ion-icon>
      <h1>{{ slide.title }}</h1>
      <h2>{{ slide.subtitle }}</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="{{ slide.img }}" alt="{{ slide.textimg }}">
      <p>
        {{ slide.description }}
      </p>
      <!-- íconos predefinido por ionic, seleccionar por name de: www.ionicons.com -->
      <ion-icon name="{{ slide.icon }}"></ion-icon>
    </ion-slide>
    
    
  </ion-slides>

</ion-content>
