#container 
{
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong 
{
  font-size: 20px;
  line-height: 26px;
}

#container p 
{
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a 
{
  text-decoration: none;
}

ion-content
{
  // // guión-guión, para acceder a las características de color de fondo.
  // --background: red;
  font-family: 'Times New Roman', Times, serif;
}

ion-slides
{
  // background-color: white;
  height: 100%;
  max-width: 800px;
}

ion-slide > h1, h2
{
  margin: 20px 20px;
  // var => el uso de variables, ionic tiene predefinido un formato (está-entre-paréntesis)
  color: var(--ion-color-primary);
}

ion-slide > p
{
  font-style: inherit;
  font-size: 22px;
  margin: 20px;
  text-align: left;
}

ion-slide > img
{
  max-height: 50%;
  max-width: 60%;
  margin: 10px 6px;
}

.swiper-slide 
{
  display: block;
  margin-bottom: 64px;
  // background-color: white;
}