<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="reorder-three-outline" style="font-size: 30px;"></ion-icon>
    <ion-title text-center>
      PlaBeMin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PlaBeMin Contenido Web</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  
  <!-- Slides => páginas para cambiar en una sola página en ionic con html -->
  <!-- pager="true" => identificar mediante punto el slide en q se encuentra (ptos. al final) -->
  <!-- [options]="slideOpt" => opciones del slide, agregados en "home.page.ts"    =>   para más opciones ver: www.ionframework.com/docs/api/slides -->
  <ion-slides pager="true" [options]="slideOpt">
    
    <!-- Slide Introducción -->
    <ion-slide>
      <h1><b>DISEÑO DE UNA PLANTA DE 200 TPD PARA EL BENEFICIO DE 
        MINERALES POLIMETÁLICOS DE LA ZONA DE CALIFORNIA SANTANDER</b></h1>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/0-frente aviso.jpg" alt="Imagen No Disponible">
      <p style="text-align: center;">Luisa Fernanda Segura <br> Walter Pardavé Livia</p>
      <img src="assets/img/UIS.png" alt="Imagen No Disponible">
    </ion-slide>
  
    <!-- Slide Reducción de Tamaños -->
    <ion-slide>
      <h1><b>Reducción de Tamaños</b></h1>
      <h2>Trituración</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/1-trituracion.jpg" alt="Imagen No Disponible">
      <p>Es la primera reducción del tamaño del mineral bruto; los equipos 
        usados en esta etapa utilizan fuerzas de compresión, impacto y 
        percusión entre sus equipos están:</p>
      <p>* Trituradora de mandíbula.</p>
      <p>* Trituradora de cono.</p>
      <P>* Entre otras.</P>
    </ion-slide>
    
    <!-- Slide Reducción de Tamaños -->
    <ion-slide>
      <h1><b>Reducción de Tamaños</b></h1>
      <h2>Molienda</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/2-molienda.jpg" alt="Imagen No Disponible">
      <p>La molienda es la última parte de la fragmentación del mineral,
        cuando el mineral termina esta etapa el producto puede estar 
        entre algunos mm y um y los equipos usados son molinos rotatorios.</p>
    </ion-slide>
    
    <!-- Slide Clasificación -->
    <ion-slide>
      <h1><b>Clasificación</b></h1>
      <h2>Cribado</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/3-criba.jpg" alt="Imagen No Disponible">
      <p>Es el paso del mineral a través de una superficie con orificios que 
        tienen un movimiento vibratorio; donde el mineral es separado dependiendo 
        a su tamaño.</p>
      <img src="assets/img/3-criba2.jpg" alt="Imagen No Disponible">
    </ion-slide>

    <!-- Slide Clasificación -->
    <ion-slide>
      <h1><b>Clasificación</b></h1>
      <h2>Hidrociclón</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/4-hidrociclon.jpg" alt="Imagen No Disponible">
      <p>Los hidrociclones se usan en la etapa de clasificación, para la 
        recuperación de finos; las fuerzas que actúan sobre las partículas
        livianas provocando la flotación y que estas asciendan y las 
        partículas más densas al ser más pesadas que el fluido se hunden.</p>
    </ion-slide>
    
    <!-- Slide Concentración -->
    <ion-slide>
      <h1><b>Concentración</b></h1>
      <h2>Flotación de Espumas</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/5-celdas de flotacion.jpg" alt="Imagen No Disponible">
      <p>Es un proceso de separación que se efectúa desde sus pulpas acuosas 
        por medio de burbujas de gas y a base de sus propiedades hidrofílicas 
        e hidrofóbicas.</p>
    </ion-slide>
    
    <!-- Slide Espesamiento y Filtrado -->
    <ion-slide>
      <h1><b>Espesamiento y Filtrado</b></h1>
      <h2>Espesamiento</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/6-espesadores.jpg" alt="Imagen No Disponible">
      <p>Es la remoción por efecto gravitacional de las partículas que están 
        suspendidas en el agua y como principio las partículas deberán tener
        un peso específico mayor que el fluido.</p>
    </ion-slide>
    
    <!-- Slide Espesamiento y Filtrado -->
    <ion-slide>
      <h1><b>Espesamiento y Filtrado</b></h1>
      <h2>Filtrado</h2>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/7-filtros.jpg" alt="Imagen No Disponible">
      <p>Es la última etapa de separación de sólido y líquido y va después 
        de la sedimentación; es la separación mecánica o físicamente usando
        un medio poroso que permite el paso del filtrado sin sólido.</p>
    </ion-slide>
    
    <!-- Slide Planos de Planta Industrial -->
    <ion-slide>
      <h1><b>Planta Industrial</b></h1>
      <h2>Planos</h2>
      <p style="text-align: center;">Vista General</p>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/8-planta.jpg" alt="Imagen No Disponible">
      <p style="text-align: center;">Vista Superior</p>
      <img src="assets/img/8-planta2.jpg" alt="Imagen No Disponible">
      <!-- <p>Párrafo de contenido.</p> -->
    </ion-slide>
    
    <!-- Slide Ayuda -->
    <ion-slide>
      <h1><b>Ayuda</b></h1>
      <h2>Teoría de Beneficio de Minerales</h2>
      <p>El beneficio de minerales auríferos:</p>
      <p>Para concentrar el oro es necesario liberarlo. En el cado de los
        depósitos aluviales, el oro se presenta como partículas libres y no
        requiere separación. <br> <br>
        Sin embargo, en la mayoría de los otros tipos de depósitos el oro 
        se encuentra asociado a otros minerales y se debe separar antes de 
        su concentración. <br> <br>
        Esto se logra con la trituración (o chancado) y 
        molienda y con procesos previos coomo concentración sedimentación 
        y filtrado.</p>
    </ion-slide>
    
    <!-- Slide Ayuda -->
    <ion-slide>
      <h1><b>Beneficio de Minerales</b></h1>
      <p>Estapas del beneficio de minerales:</p>
      <!-- ruta para las imágenes: src="assets/img/NombreImg.png" -->
      <img src="assets/img/9-benefMinerales.png" alt="Imagen No Disponible">
      
    </ion-slide>

    <!-- Slide Ayuda -->
    <ion-slide>
      <h1><b>Glosario</b></h1>
      <!-- <h2>Glosario</h2> -->
      <p><b>Mineral:</b> Sustancia inorgánica con estructura cristalina y
        composición química definida.</p>
      <p><b>Hidrofóbico:</b> Describe cuando un mineral repele el agua.</p>
      <p><b>Hidrofílico:</b> Sustancia o material que son polares por lo que 
        sienten afinidad con el agua cuya naturaleza es polar.</p>
      <p><b>Pulpas:</b> Es la mezcla de sólido y líquido en forma de suspensiones;
        es un fluido formado por la suspensión de uno o varios minerales.</p>
      <p><b>Peso Específico:</b> Relación del peso de una sustancia y su volumen.</p>
    </ion-slide>

    
  </ion-slides>


</ion-content>

